.vs/
BizApplication.Core.Common/bin/
BizApplication.Core.Common/obj/
BizApplication.Core.Data/bin/
BizApplication.Core.Data/obj/
ConsoleApp/bin/
ConsoleApp/obj/
BizApplication.Core.Test.Common/bin/
BizApplication.Core.Test.Common/obj/